<!DOCTYPE html>
<html>
<head>
	<title>Mi reserva</title>
</head>
<body>
	<main>
		<div>
			<form>
				<p>Para consultas, ingresa tu número de reserva aquí:</p>
				<input type="text" name="numReserva">
				<button type="submit">Buscar</button>
				
			</form>
			
		</div>
		<div>
			<h2>La reserva esta a nombre de:</h2>
			<label>Primer Nombre</label>
			<p>Un nombre</p>
			<label>Segundo Nombre</label>
			<p>otro nombre</p>
			<label>Primer apellido</label>
			<p>Un apellido</p>
			<label>Segundo apelido</label>
			<p>otro apellido</p>
		</div>
		<h2>Tu reserva</h2>
		<div>
			<h3>Fechas de estadía</h3>
			<label>Fecha de entrada</label>
			<p>yyyy-mm-dd</p>
			<label>Fecha de salida</label>
			<p>yyyy-mm-dd</p>
			<label>Noches</label>
			<p>4</p>
		</div>
		<div>
			<label>Número de personas:</label>
			<p>2</p>
			<label>Estado:</label>
			<p>ACTIVA</p>
			<label>Descuento</label>
			<p>0</p>
		</div>
		<h3>Habitaciones</h3>
		<div>
			<div>
				<label>Número habitación</label>
				<p>203</p>
				<label>Número camas</label>
				<p>2</p>
				<label>Descripción</label>
				<p>una descripción</p>
			</div>
		</div>
	</main>

</body>
</html>